AddType text/cache-manifest manifest
AddType application/x-web-app-manifest+json .webapp

Header set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline'; connect-src *; media-src *; style-src 'self'; img-src *"

<IfModule mod_expires.c>
   ExpiresActive On
   ExpiresDefault "access"
</IfModule>
