AddType text/cache-manifest .appcache
AddType application/x-web-app-manifest+json .webapp
AddType application/manifest+json .webmanifest

Header always set X-Frame-Options "SAMEORIGIN"
Header always set X-Xss-Protection "1; mode=block"
Header always set X-Content-Type-Options "nosniff"
Header set Content-Security-Policy "default-src *; script-src 'self'; connect-src *; media-src blob: filesystem: *; style-src 'self' 'unsafe-inline'; img-src blob: *"
Header set Referrer-Policy "no-referrer"

<IfModule mod_expires.c>
   ExpiresActive Off
   ExpiresDefault "access"
   Header unset ETag
   Header set Cache-Control "max-age=0"
   Header set Pragma "no-cache"
</IfModule>
