AddType text/cache-manifest .manifest
AddType application/x-web-app-manifest+json .webapp

Header set Content-Security-Policy "default-src *; script-src 'self'; connect-src *; media-src *; style-src 'self' 'unsafe-inline'; img-src *"

<IfModule mod_expires.c>
   ExpiresActive Off
   ExpiresDefault "access"
   Header unset ETag
   Header set Cache-Control "max-age=0"
   Header set Pragma "no-cache"
</IfModule>
