/*  Copyright 2013 - 2015 Sebastian Spautz

    This file is part of "HTML5 Podcatcher".
    
    "HTML5 Podcatcher" is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    "HTML5 Podcatcher" is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see http://www.gnu.org/licenses/.
*/

/* ----------------------------------
* Toolbars
* ---------------------------------- */
[role="toolbar"] {
  display: flex;
  box-sizing: border-box;
  height: 45px;
  width: 100%;
  background: #fff;
  border-top: 1px solid #eee;
}
[role="toolbar"] button,
[role="toolbar"] a {
  position: relative;
  flex: 1;
  border: none;
  border-left: 1px solid #e5e5e5;
  background-color: transparent;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #919191;
  border-radius: 0;
  height: 100%;
  font-size: 0;
}
[role="toolbar"] button:first-child,
[role="toolbar"] a:first-child {
  border-left: none;
}
[role="toolbar"] button:active,
[role="toolbar"] button:focus,
[role="toolbar"] a:active,
[role="toolbar"] a:focus {
  color: #fff;
  background-color: rgba(0, 100, 0, 0.2);
}
[role="toolbar"] [data-icon] {
  font-size: 0;
}
[role="toolbar"] button[data-icon]:before,
[role="toolbar"] a[data-icon]:before {
  width: 3rem;
  height: 3rem;
  position: absolute;
  content: "";
  top:50%;
  margin-top:-1.5rem;
  left:50%;
  margin-left:-1.5rem;
  background-size: 3rem 3rem;
}
[role="toolbar"] button[data-icon="reload"]:before { 
    background: url(icons/refresh.png) no-repeat center center;
}
[role="toolbar"] button[data-icon="play"]:before { 
    background: url(icons/play.png) no-repeat center center;
}
[role="toolbar"] button[data-icon="pause"]:before { 
    background: url(icons/pause.png) no-repeat center center;
}
[role="toolbar"] button[data-icon="previous"]:before { 
    background: url(icons/skipback.png) no-repeat center center;
}
[role="toolbar"] button[data-icon="next"]:before { 
    background: url(icons/skipforward.png) no-repeat center center;
}
[role="toolbar"] button[data-icon="jumpBackwards"]:before { 
    background: url(icons/seekback.png) no-repeat center center;
}
[role="toolbar"] button[data-icon="jumpForwards"]:before { 
    background: url(icons/seekforward.png) no-repeat center center;
}
[role="toolbar"] button[data-icon="show-log"]:before { 
    background: url(icons/notifications.png) no-repeat center center;
}
[role="toolbar"] button[data-icon="add-source"]:before { 
    background: url(icons/addSource.png) no-repeat center center;
}
[role="toolbar"] button[data-icon="browsing"]:before,
[role="toolbar"] a[data-icon="browsing"]:before {
    background: url("icons/browsing.png") no-repeat center center;
}
[role="toolbar"] button[data-icon="delete"]:before {
    background: url("icons/delete.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}