/*  Copyright 2013 - 2015 Sebastian Spautz

    This file is part of "HTML5 Podcatcher".

    "HTML5 Podcatcher" is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    "HTML5 Podcatcher" is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see http://www.gnu.org/licenses/.
*/

/* ----------------------------------
* Toolbars
* ---------------------------------- */
div[role="toolbar"] {
  display: flex;
  box-sizing: border-box;
  height: 45px;
  width: 100%;
  background: var(--page-background);
  border-top: 1px solid var(--separator-color);
}
div[role="toolbar"] button,
div[role="toolbar"] a {
  position: relative;
  display: flex;
  flex: 1;
  border: none;
  border-left: 1px solid var(--separator-color);
  background-color: transparent;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  text-align: center;
  border-radius: 0;
  height: 100%;
  font-size: 0;
}
div[role="toolbar"] button:first-child,
div[role="toolbar"] a:first-child {
  border-left: none;
}

div[role="toolbar"] .iconButton:hover,
div[role="toolbar"] .iconButton:active,
div[role="toolbar"] .iconButton:focus {
  padding: 0;
  background-color: var(--primary-color-background, rgba(0, 100, 0, 0.2));
  color: inherit;
}

#activeMessage p {
	padding: 0.3rem 0.6rem;
	color: #000000;
	margin:0;
	border-top: 1px solid #EEE;
	max-height: 2rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#activeMessage .note {
	background-color: #006400;
	color:#EEEEEE;
	border:none;
}
#activeMessage .warn {
	background-color: #EE6400;
	color:#EEEEEE;
	border:none;
}
#activeMessage .error,
#activeMessage .fatal {
	background-color: #640000;
	color:#EEEEEE;
	border:none;
}
