/*  Copyright 2015 Sebastian Spautz

    This file is part of "HTML5 Podcatcher".

    "HTML5 Podcatcher" is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    "HTML5 Podcatcher" is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see http://www.gnu.org/licenses/.
*/

/* ----------------------------------
* Input areas
* ---------------------------------- */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
input[type="number"],
textarea {
  font-family: sans-serif;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  resize: none;
  padding: 0 1.5rem;
  font-size: 1.6rem;
  border: 0.1rem solid #c7c7c7;
  border-radius: 0;
  box-shadow: none; /* override the box-shadow from the system (performance issue) */
  color: #333;
  background: #fff;
  margin: 0 0 1rem 0;
}
input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
}

textarea {
  height: 10rem;
  line-height: 2rem;
  padding: 0.9rem;
}

input[disabled],
textarea[disabled] {
  opacity: 0.5;
}

/* fix for required inputs with wrong or empty value e.g. [type=email] */
input:invalid,
textarea:invalid {
  color: #b90000;
}

input:focus,
textarea:focus {
  box-shadow: inset 0 -0.1rem 0 #006400;
  border-bottom-color: #006400;
}

input:invalid:focus,
textarea:invalid:focus {
  box-shadow: inset 0 -0.1rem 0 #820000;
  border-bottom-color: #820000;
}