/*  Copyright 2013, 2014 Sebastian Spautz

    This file is part of "HTML5 Podcatcher".
    
    "HTML5 Podcatcher" is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    "HTML5 Podcatcher" is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see http://www.gnu.org/licenses/.
*/

body { 
  text-align:center; 
  margin:0;
  color: #000000;
}

body > header,
body > footer {
	position: relative;
	width: 100%;
	padding:0.5rem 0;
	background-color: #004600;
    color: #EEEEEE;
    line-height: 1em;
    text-align: left;    
	z-index: 100;
}
@media all and (min-height: 360px) {
	body > header,
	body > footer {
		right: 0;
		position: fixed;
	}
	body > header {
		top: 0;
		max-height:2rem;
	}
	body > footer {
		bottom: 0;
	}
}

body > header h1,
body > header h2  {
	display: inline-block;
    margin: 0 1rem;
}
body > header h1 {
	font-size: 1rem;
}
body > header h2  {
	font-size: 0.8rem;
}
.main {
	margin: 3rem 1rem 5rem 1rem;
}

a {
	color: #004600;
}
nav {
	float: right;
	margin-right: 1rem;
}
nav ul {
	list-style-type: none;
	margin: 0;
}
nav a {
	color: #EEEEEE;
}

body > footer {
	max-height:3rem;
	overflow:scroll;
	box-sizing: padding-box;
}
body > footer > * {
	margin:0 0.4em;
}

body > footer.fullscreen {
	max-height:100%;
	height:100%;
}

img { max-width: 100%; }
audio { width: 100%; }
progress { width:100px; /* Don't use relative values because Chrome is bugy.*/ }

button, .button, .button:visited, .button:hover {
	display: inline-block;
	margin: 0px 0.6em 0.6em 0px;
	padding: 0.4em 0.8em;
	background-color: #004600;
	background-image: none;
	border:none;
	border-radius: 25%;
	box-shadow: 6px 6px 10px 0px rgba(50, 50, 50, 0.75);
	color: #ffffff;
	font-size: 0.85rem;
	font-family: sans-serif;
	font-weight: bold;
	text-decoration: none;
}
button:active, .button:active {
	box-shadow: inset 6px 6px 10px 0px rgba(50, 50, 50, 0.75);
}
button[disabled], .button[disabled] {
	background-color: #aaaaaa;
	box-shadow: unset;
	color: #666666;
	font-weight: normal;
}

textarea { width:100%; height: 10em; }

template, .template {
	display: none;
}

.entries { 
	list-style: none; 
	padding:0;
}
.entries li:first-child {
	margin-top: 0;
}
.entries li {
	background-color:white;
	border: 2px solid #004600;
	border-radius: 0.1em 0.1em 1.6em 1.6em ;
	margin: -1.5em 0 0 0;
	padding: 1.5em 1em 2.0em 1em;
	text-align:left;
}
.entries li:last-child {
	padding-bottom: 0.5em;
}
.entries li.emptyPlaceholder {
	display:none;
}
.entries li.emptyPlaceholder:first-child:last-child { /* the only one child */
	display:block;
}
.entries li p {
	overflow:hidden;
	text-overflow:ellipsis;
}

.entries .activeEpisode { 
	background-color:#CCCCCC; 
	position:relative;
	z-index:50;
	padding-bottom: 0.5em;
}
.entries h3 { margin:0; }
.entries .source ,
.entries .updated { 
	display: block; 
	padding-left: 1em;
}
.entries .functions { display: block; text-align: right; }